<app-nav-bar></app-nav-bar>
<p-card
  [style]="{ width: '80%' }"
  class="mt-4 text-center flex align-content-center justify-content-center"
  header="Admin"
>
  <div class="flex justify-content-center">
    <p-table [value]="users" [tableStyle]="{ width: '90rem' }">
      <ng-template pTemplate="header">
        <tr>
          <th class="text-center" style="width: 25%">Code</th>
          <th class="text-center" style="width: 25%">Name</th>
          <th class="text-center" style="width: 25%">Category</th>
          <th class="text-center" style="width: 25%">Quantity</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-user>
        <tr>
          <td class="text-center">{{ user.code }}</td>
          <td class="text-center">{{ user.name }}</td>
          <td class="text-center">{{ user.category }}</td>
          <td class="text-center">{{ user.quantity }}</td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</p-card>
