<p-dialog
  header="Register"
  [modal]="true"
  [(visible)]="visible"
  [style]="{ width: '20rem' }"
>
  <div class="container-register">
    <div class="flex align-items-center mb-2">
      <p-floatLabel class="flex justify-content-center m-4 w-12">
        <input pInputText id="username" class="flex-auto" autocomplete="off" />
        <label for="username">Username</label>
      </p-floatLabel>
    </div>
    <div class="flex align-items-center mb-2">
      <p-floatLabel class="flex justify-content-center mb-4 w-12">
        <p-password [feedback]="false" />
        <label for="email">password</label>
      </p-floatLabel>
    </div>
    <div class="flex align-items-center mb-2">
      <p-floatLabel class="flex justify-content-center w-12">
        <p-password [feedback]="false" />
        <label for="email">Confirm password</label>
      </p-floatLabel>
    </div>
    <div class="mt-6 flex justify-content-end gap-2">
      <p-button label="Cancel" severity="secondary" (onClick)="visible = false" />
      <p-button label="Sign up" (onClick)="visible = false" />
  </div>
  </div>
</p-dialog>
